img{
    width:auto;
    height:200px;
    border-radius: 10px;
}

button{
    background-color: #695736;
}

button:hover{
    background-color: #8a7a5d;

}

#thecard {
    width: 100% ;
    height:100% ;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 10;
}

